@page "/ViewUsers"
@using EdgeDB
@using System.Collections.Generic
@using System.Net.Http
@using System.Text.Json
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<Form>
 <div class="container">

	   <form method="get">
        <label for="SearchTerm">SearchTerm:</label>
        <input type="text" id="SearchTerm" name="SearchTerm">
        <input type="submit" value="Search">
    </form>
    
    <h2>Contact List</h2>

  <table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Title</th>
            <th>Description</th>
            <th>Date of Birth</th>
            <th>Role</th>
            <th>UserName</th>
            <th>Married</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var contact in ContactList)
{
    <tr>
        <td>@contact.first_name</td>
        <td>@contact.last_name</td>
        <td>@contact.email</td>
        <td>@contact.title</td>
        <td>@contact.description</td>
        <td>@contact.date_of_birth</td>
        <td>@contact.role</td>
        <td>@contact.user_name</td>
        <td>@(contact.marriage_status ? "Yes" : "No")</td>
        <td style="text-align: center; padding: 10px;">
        <form method="post" asp-page-handler="Edit">
                <input type="hidden" name="username" value="@contact.user_name" />
                <button type="submit">Edit</button>
            </form>

        </td>
    </tr>
}
    </tbody>
</table>
	 </div>
</Form>


<style>


    .container {
        max-height: 400px;
        overflow-y: auto;
    }
   
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        position: relative;
        background-color: #fff;
        border-radius: 10px;
        width: 500px;
    }

    input[type="text"], input[type="checkbox"] {
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        background-color: #f1f1f1;
        width: 100%;
    }

    input[type="submit"] {
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        background-color: #4CAF50;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        width: 100%;
    }
</style>



@code {

      private List<Contact> ContactList { get;  set; } = new();

   

    private string SearchTerm { get; set; } = "";

    private void OnPostLogout()
    {

          NavigationManager.NavigateTo("/");
    }

    private async Task OnGetAsync()
    {
       

            var response = await HttpClient.GetAsync($"/SearchContact?term={SearchTerm}");

            if (response.IsSuccessStatusCode)
            {
                var content = await response.Content.ReadAsStringAsync();
                ContactList = JsonSerializer.Deserialize<List<Contact>>(content);
            }
    }

}


